<?xml version="1.0" encoding="UTF-8"?>
<BackgroundSimpleScallingTexture ObjectRecordID="1000202">
	<ClassTypeID>405419201</ClassTypeID>
	<Texture href="{{ icon_path }}"/>
	<ManualSize>false</ManualSize>
	<ScallMode>BGSM_STRETCH</ScallMode>
	<HorzScall>1.0</HorzScall>
	<VertScall>1.0</VertScall>
</BackgroundSimpleScallingTexture>
