<?xml version="1.0" encoding="UTF-8"?>
<WindowSimple ObjectRecordID="1000000">
	<ClassTypeID>269488144</ClassTypeID>
	<Shared href="Artifacts.(WindowSimpleShared).xdb#xpointer(/WindowSimpleShared)"/>
	<Name>ArtifactsWindow</Name>
	<Visible>true</Visible>
	<Priority>0</Priority>
	<GameMessageReactions/>
	<Placement>
		<Position>
			<First>
				<x>0</x>
				<y>0</y>
			</First>
			<Second>true</Second>
		</Position>
		<VerAllign>
			<First>EPA_CENTER</First>
			<Second>false</Second>
		</VerAllign>
		<HorAllign>
			<First>EPA_CENTER</First>
			<Second>false</Second>
		</HorAllign>
		<Size>
			<First>
				<x>800</x>
				<y>600</y>
			</First>
			<Second>true</Second>
		</Size>
		<LowerMargin>
			<First>
				<x>0</x>
				<y>0</y>
			</First>
			<Second>false</Second>
		</LowerMargin>
		<UpperMargin>
			<First>
				<x>0</x>
				<y>0</y>
			</First>
			<Second>false</Second>
		</UpperMargin>
	</Placement>
</WindowSimple>
