name: Package all

on: 
  workflow_dispatch:

jobs:
  package-all:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install dependencies
        run: pip install semver

      - name: Release package
        run: python release.py
        working-directory: tools

      - name: Upload paks
        uses: actions/upload-artifact@v4
        with:
          name: h5x
          path: h5x-*.pak
