
name: Package changed

on:
  workflow_dispatch:

jobs:
  package-changed:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dirs:
        - core
        - hud
        - lua
        - creatures
        - heroes
        - spells
        - artifacts
        - skills
        - towns
        - maps
        - battlefields
        - www
        - www-creatures
        - www-heroes
        - www-artifacts
        - www-skills

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Pack '${{ matrix.dirs }}' if changed
        uses: ./.github/actions/pak
        with:
          directory: ${{ matrix.dirs }}
  
      - name: Upload pak artifact
        uses: actions/upload-artifact@v4
        with:
          name: pak-${{ matrix.dirs }}
          path: ./game_data/${{ matrix.dirs }}/h5x-${{ matrix.dirs }}.pak

  finalize:
    runs-on: ubuntu-latest
    needs: package-changed

    steps:
      - name: Download all paks
        uses: actions/download-artifact@v4
        with:
          path: game_data_paks

      - name: Check changes in 'texts'
        uses: dorny/paths-filter@v3
        id: check-texts
        with:
          base: ${{ github.ref }}
          filters: |
            changed:
              - 'game_texts/texts-EN/**'
      - name: Pack texts
        if: steps.check-texts.outputs.changed == 'true'
        run: zip -q -r h5x-texts.pak *
        working-directory: game_texts/texts-EN

      - name: Upload paks
        uses: actions/upload-artifact@v4
        with:
          name: paks
          path: |
            game_data_paks/**/*.pak
            game_texts/texts-EN/h5x-texts.pak
